.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.card{
  width: 30%;
  float: left;
  margin: 20px;
  height: 250px;
}

.card-image{
  width: 40%;
  float: left;
  margin-left: 10px;
  border-radius: 4px;
}

.card-text{
  height: 100px;
  overflow: hidden;
}

.productcontainer{
  text-align: center;
}

.cart-list{
  border-style: solid;
  border-width: 1px;
  width: 30px;
  padding: 100px;
  text-align: center;
  border-radius: 4px;
  margin: 10px;
  float: left;

}

.tableheader{
  text-align: center;
  background-color: darkgray;
  font-family: "DejaVu Sans";
  font-size: 25px;
}

td{
  line-height: 30px;
  text-align: center;
  font-size: 20px;
  font-family: "DejaVu Sans";
}

.btn{
  margin: 10px;
  float: right;
}
.sumprice{
  font-size: 30px;
  font-weight: bold;
  text-align: right;
  text-decoration: underline;
}

.maxcart{
  width: 50%;
  margin: auto;
  padding-top: 50px;
}

.buy-form{
  width: 50%;
  margin: auto;
  padding-top: 50px;
}