.App {
  text-align: center;
  background-color : #282c34;;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.card{
  width: 30%;
  float: left;
  margin: 20px;
  height: 250px;
}

.card-image{
  width: 40%;
  float: left;
  margin-left: 10px;
  border-radius: 4px;
}

.card-text{
  height: 100px;
  overflow: hidden;
}

.productcontainer{
  text-align: center;
  float: right;
  background-color: #282c34;
  align-items: center;
}

.product-form{
  border-style: solid;
  border-width: 1px;
  width: 40%;
  padding: 20px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 5px 10px saddlebrown;
  margin: 20px;
  float: left;
  outline-color: saddlebrown;
  align-items: center;
}

.product-form-title, .description{
  display: block;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 10px;
}

.product-form-price, .product-form-url, .btn{
  margin:10px;
}


.cart-list{
  border-style: solid;
  border-width: 1px;
  width: 30px;
  padding: 100px;
  text-align: center;
  border-radius: 4px;
  margin: 10px;
  float: left;

}

.tableheader{
  text-align: center;
  background-color: darkgray;
  font-family: "DejaVu Sans";
  font-size: 25px;
}

td{
  line-height: 30px;
  text-align: center;
  font-size: 20px;
  font-family: "DejaVu Sans";
}

.btn{
  margin: 10px;
  float: right;
}
.sumprice{
  font-size: 30px;
  font-weight: bold;
  text-align: right;
  text-decoration: underline;
  color: white;
}

.maxcart{
  width: 50%;
  margin: auto;
  padding-top: 50px;
  background-color: #282c34;
}

.header {
  font-family: 'Faster One', cursive;
  color: saddlebrown;
  font-size: 150px;
  text-align: center;
  background-color: #282c34;
  position: relative;
}

.app{
  background-color: #282c34;
  height: 1000px;
}

.buy-form {
  text-align: center;
}

.buy-form-title ::-webkit-input-placeholder::before {
  color:#666;
  content:"Line 1\A Line 2\A Line 3\A";
}

.buy-form-title buy-form-address{
  background-color: transparent; /* Remove background fill */
  text-transform: uppercase; /* Make text all uppercase */
  border-radius: 0; /* Remove corner curve */
  border: 2px solid #fff; /* 2px white border */
  color: #fff; /* White text */
  height: 45px; /* Increase input height */
}


::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    #fff;
}

.buy-form-button {
  text-transform: uppercase;
  padding: 10px 60px;
  color: white;
  background: #444;
  font-weight: normal;
}

.buy-form {
  color: white;
}

.product-form{
  background-color: #282c34;
}

body {
  background-color: #282c34;
  align-items: center;
}

.buy-form-box{
  align-items: center;
}

.cartCounter{
  color : white;
  font-size : 30px;
  position: absolute;

}

.shopping {
  height: 100px;
}


